
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signin.component.css">
</head>
<body>
    <div class="container">
        <div class="top-head">
            <label for="title">
                SD HUB <br>
                Skill Development Hub
            </label>
        </div>    
            <div class="content">
                <h5>Username:</h5>
                <input type="text" placeholder="Enter Ypur Username">
                <h5>password:</h5>
                <input type="password" placeholder="Enter Your password"><br>
                <a href="#">Forget Password ?</a><br>
                <button>Login</button>
                <p>Don't have an Account?<a href="#">Register Now</a></p>                

            </div>
    </div>
</body>
</html>
