
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signin.component.css">
</head>
<body>
    <div class="container">
        <div class="top-head">
            <p class="head-p">
                Student Login <br>
                Skill Development Hub
            </p>
        </div>    
            <div class="content">
                <label>Username:</label><br>
                <input type="text" placeholder="Enter Your Username"><br><br>
                <label>Password:</label><br>
                <input type="password" placeholder="Enter Your password"><br><br>
                <div class="forget">
                <a href="#">Forget Password ?</a><br><br>
                </div>
                <div class="login-btn">
                <button>Login</button><br>
                </div>
                <p class="content-p">Don't have an Account?<a href="register">Register Now</a></p><br>
                                

            </div>
    </div>
</body>
</html>
